    {% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Add Photo to '{{ album.name }}'</h1>
    <p>
        Please select a photo from your local computer to upload.
    </p>
    <form id="photo_form" method="post" action="{{ upload_url }}" enctype="multipart/form-data" onsubmit="return validate_form()">
        <div>
            <label>Name</label>
            <input class="form-control" type="text" value="" id="photo_name" name="photo_name">
        </div>

        <input class="form-control" type="file" id="photo" name="photo" accept="image/*"/>

        <button class="btn btn-primary" type="submit">Add Photo</button>
    </form>
</div>

<script type="text/javascript">
    function validate_form() {
        var value = $('#photo').val();
        var name = $('#photo_name').val();

        if(value == "")
        {
            alert("Please select a Photo to upload");
            return false;
        }

        if(name == "")
        {
            alert("Please specify a name for the Photo being uploaded");
            return false;
        }

        return true;
    }
</script>
{% endblock %}