    {% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Add Photo to '{{ album.name }}'</h1>
    <p>
        Please select a photo from your local computer to upload.
    </p>
    <form id="photo_form"
          role="form"
          style="width: 60%"
          method="post"
          action="{{ upload_url }}"
          enctype="multipart/form-data"
          onsubmit="return validate_form()">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control"
                   type="text"
                   placeholder="Photo Name"
                   id="photo_name"
                   name="photo_name">
        </div>

        <div class="form-group">
            <input class="form-control" type="file" id="photo" name="photo" accept="image/*"/>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Add Photo</button>
            <a class="btn btn-default" href="/album/{{ album.key.integer_id() }}/view">Cancel</a>
        </div>
    </form>
</div>

<script type="text/javascript">
    function validate_form() {
        var value = $('#photo').val();
        var name = $('#photo_name').val();

        if(value == "")
        {
            alert("Please select a Photo to upload");
            return false;
        }

        if(name == "")
        {
            alert("Please specify a name for the Photo being uploaded");
            return false;
        }

        return true;
    }
</script>
{% endblock %}