<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Photo Nebula{% endblock %}</title>

    <script type="text/javascript" src="/static/jquery-1.10.2.min.js"></script>

    <link type="text/css" rel="stylesheet" href="/static/nebula.css"/>

    {% block head %}
    {% endblock %}
</head>
<body>
    <div>
        <table class="header">
            <tr>
                <td><a href="/">Cloud Nebula Home</a></td>
                <td style="text-align: right">
                    {% if user %}
                        Signed in as {{ user.email }}
                        <a href="{{ logout_url }}">Logout</a>
                    {% else %}
                        <a href="{{ login_url }}">Login</a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <div>
        <table class="header">
            <tr>
                <td>Cloud Computing Project by <b>Michael Aquilina</b> (2014) <br></td>
                <td style="text-align: right"><b>University of Bristol</b></td>
            </tr>
        </table>
    </div>
</body>
</html>