{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Create Album</h1>
        <p>
            Create an Album by specifying the necessary details below
        </p>
        <form method="post" action="/album/create">
            <div>
                <label>Name</label>
                <input class="form-control"
                       type="text"
                       value="Album Name"
                       name="album_name"
                       id="album_name" />
            </div>

            <div>
                <label>Description</label>
                <textarea class="form-control" name="album_desc" id="album_desc"></textarea>
            </div>

            <button class="btn btn-primary" type="submit">Create</button>
        </form>
    </div>
{% endblock %}