{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Create Album</h1>
    <p>
        Create an Album by specifying the necessary details below
    </p>
    <form role="form" method="post" action="/album/create">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control"
                   type="text"
                   placeholder="Album Name"
                   name="album_name"
                   id="album_name" />
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control"
                      rows="3"
                      name="album_desc"
                      placeholder="Enter a description of your Album here"
                      id="album_desc"></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Create Album</button>
            <button class="btn btn-default" type="reset">Clear</button>
        </div>
    </form>
</div>
{% endblock %}