<!DOCTYPE html>
<html>
<head>
    <title>Photo Nebula</title>
</head>
<body>
    <h1>Photo Nebula</h1>
    <div>
        <p>
            Welcome to Photo Nebula - an Image Hosting service in the cloud.
        </p>
        <p>
        {% if user %}
            Signed in as {{ user.email() }}
            <a href="{{ logout_url }}">Logout</a>
        {% else %}
            <a href="{{ login_url }}">Login</a>
        {% endif %}
        </p>

        {% if user %}
        <p>
            <a href="/album/create">Create an Album</a>
        </p>
        {% endif %}
    </div>
    <div>
        <p>
            View your most recent Albums:
        </p>
        <ul>
        {% for album in albums %}
            <li><a href="/album/{{ album.key.integer_id() }}/view">{{ album.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>