{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Image Hosting In the Cloud</h1>
        <p class="lead">
            Photo Nebula is a simple and easy to use Image Hosting service built with google app engine and various <br>
            open source technologies.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="/about">
                <!--<span class="glyphicon glyphicon-question-sign"></span>-->
                Learn More
            </a>
            <a class="btn btn-primary btn-lg" href="/album/create">
                <span class="glyphicon glyphicon-play"></span>
                Create an Album
            </a>
        </p>
    </div>
    <div>
    </div>
    <div class="container">
        <div class="row">
        {% for album in albums %}
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div style="text-align: center; margin: 10px 10px 0px 10px;">
                  <div style="height: 250px; background-color: #DDDDDD;  margin: 0 auto;">
                    {% if album.cover %}
                      <a href="/album/{{ album.key.integer_id() }}/view">
                          <img src="/album/{{ album.key.integer_id() }}/photo/{{ album.cover.integer_id() }}"
                               style="width: 100%;"/>
                      </a>
                    {% endif %}
                  </div>
              </div>
              <div class="caption">
                <h3>{{ album.name }}</h3>
                <p style="height:60px">{{ album.description }}</p>

                <p><a href="/album/{{ album.key.integer_id() }}/view"
                      class="btn btn-primary"
                      role="button">
                    <span class="glyphicon glyphicon-picture"></span>
                    View Album
                    </a>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>
 </div>
{% endblock %}