<!DOCTYPE html>
<html>
<head>
    <title>Photo Nebula - View Album</title>

    <link type="text/css" rel="stylesheet" href="/static/isotope.css"/>

    <script type="text/javascript" src="/static/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/jquery.isotope.min.js"></script>
</head>
<body>
    <h1>{{ album.name }}</h1>
    <p>
        {{ album.description }}
    </p>
    <div>
        <button id="shuffle">Shuffle</button>
        <a href="/album/{{ album.key.integer_id() }}/add-photo">Add Photo</a>
    </div>

    <div id="container">
        {% for photo in photos %}
            <div class="item">
                <img width="300" height="400"
                     src="/album/{{ album.key.integer_id() }}/photo/{{ photo.key.integer_id() }}">
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript">
        var $container = $('#container');

        $container.imagesLoaded( function(){
          $container.isotope({
              // options
              itemSelector : '.item',
              layoutMode : 'fitRows'
            });
        });

        $('#shuffle').click(function() {
            $container.isotope('shuffle')
        });
    </script>
</body>
</html>