{% extends "base.html" %}

{% block content %}
 <div class="container-fluid" style="padding: 10px">
    <div class="row-fluid">
        <div class="span8">
            <div style="float: right; margin: 0 auto;">
                <div class="form-inline" style="padding: 10px">
                    <a href="/album/{{ album.key.integer_id() }}/view" class="btn btn-primary">
                        <span class="glyphicon glyphicon-circle-arrow-left"></span>
                        Back to Album
                    </a>
                    {% if user.key == photo.author %}
                        <button class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                            Delete Photo
                        </button>
                    {% endif %}
                </div>
                <img id="photo" height="600" src="{{ image_url }}" />
                <div class="form-inline" style="padding: 10px">
                    <label>
                        <span class="glyphicon glyphicon-link"></span>
                        Static Url
                    </label>
                    <input id="staticUrl"
                           class="form-control"
                           type="text"
                           style="width: 500px"
                           readonly="true"
                           value="{{ image_url }}"/>
                </div>
            </div>
        </div>
        <div class="span4" style="padding: 10px">
            <div>
                <b>{{ photo.name }}</b> by <b>{{ photo.author.get().email }}</b> on <b>{{ photo.date_created }}</b>
            </div>
            <div id="comments" class="container">
                    <label>Comments left by Users</label>

                    {% for comment in comments %}
                        <div class="comment">
                            <blockquote>
                                {{ comment.text }}
                                <small><cite title="Source Title">{{ comment.author.get().email }}</cite></small>
                            </blockquote>
                        </div>
                    {% endfor %}
                </div>

                <form method="post" action="/album/{{ album.key.integer_id() }}/photo/{{ photo.key.integer_id() }}/add-comment">
                    <label>
                        <span class="glyphicon glyphicon-comment"></span>
                        Leave a Comment
                    </label>
                    <textarea class="form-control" id="comment_text" name="comment_text">

                    </textarea>

                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-default">Clear</button>
                </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    $('#staticUrl').focus(function() {
        this.select();
    });
</script>
{% endblock %}