{% extends "base.html" %}

{% block title %}
    {{ super() }} - {{ album.name }}
{% endblock %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="/css/isotope.css"/>
    <script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid" style="padding: 10px">
        <div class="row-fluid">
            <div class="span8">
                <!-- Displays the name of the photo the mouse is currently over !-->
                <div id="photo_name"></div>

                <div style="padding: 10px">
                    <a class="btn btn-primary" href="/album/{{ album.key.integer_id() }}/add-photo">
                        <span class="glyphicon glyphicon-cloud-upload"></span>
                        Add Photo
                    </a>
                    <button class="btn btn-default" id="shuffle">Shuffle</button>
                    <button class="btn btn-default" id="dateSort">Sort by Date</button>
                    <button class="btn btn-default" id="nameSort">Sort by Name</button>
                    <button class="btn btn-default" id="authorSort">Sort by Author</button>
                </div>

                <div id="container" style="background: #DDDDDD">
                    {% for photo in photos %}
                        <div class="item"
                             onmouseover="update_current_photo(this)">
                            <a href="/album/{{ album.key.integer_id() }}/photo/{{ photo.key.integer_id() }}/view">
                                <img class="image"
                                 height="300"
                                 src="/album/{{ album.key.integer_id() }}/photo/{{ photo.key.integer_id() }}?height=300">
                            </a>
                            <input class="name"
                                   type="hidden" value="{{ photo.name }}"/>
                            <input class="date"
                                   type="hidden" value="{{ photo.date_created }}"/>
                            <input class="user"
                                   type="hidden" value="{{ photo.author.get().email }}"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="span4" style="padding: 10px">
                <h1>{{ album.name }}</h1>
                <p>{{ album.description }}</p>

                <div id="comments">
                    <label>Comments left by Users</label>

                    {% for comment in comments %}
                        <div class="comment">
                            <b>[{{ comment.date_created }}] {{ comment.author.get().email }} said: </b>
                            <blockquote>{{ comment.text }}</blockquote>
                        </div>
                    {% endfor %}

                    <form method="post" action="/album/{{ album.key.integer_id() }}/add-comment">
                        <label>Leave a Comment</label>
                        <textarea class="form-control" id="comment_text" name="comment_text">

                        </textarea>

                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-default">Clear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/view_album.js"></script>
{% endblock %}