<!DOCTYPE html>
<html>
<head>
    <title>Photo Nebula - View Photo</title>

    <script type="text/javascript" src="/static/jquery-1.10.2.min.js" ></script>
</head>
<body>
    <img id="photo" height="600" src="{{ image_url }}" />
    <div>
        <b>{{ photo.name }}</b> by <b>{{ photo.author.get().email }}</b> on <b>{{ photo.date_created }}</b>
    </div>
    <div>
        <label>
            Static Url
            <input id="staticUrl"
                   type="text"
                   style="width: 500px"
                   readonly="true"
                   value="{{ image_url }}"/>
        </label>
    </div>
    <div>
        <h3>Comments left by Users</h3>
        {% for comment in comments %}
            <div class="comment">
                <b>[{{ comment.date_created }}] {{ comment.author.get().email }} said: </b>
                <blockquote>{{ comment.text }}</blockquote>
            </div>
        {% endfor %}

        <h3>Leave a Comment:</h3>
        <form method="post" action="/album/{{ album.key.integer_id() }}/photo/{{ photo.key.integer_id() }}/add-comment">
            <textarea id="comment_text" name="comment_text"></textarea>

            <br>
            <input type="submit" value="Add Comment"/>
        </form>
    </div>
</body>
</html>