{% extends "base.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="/static/isotope.css"/>
    <script type="text/javascript" src="/static/jquery.isotope.min.js"></script>
{% endblock %}

{% block content %}
    <h1>{{ album.name }}</h1>
    <p>
        {{ album.description }}
    </p>
    <div>
        <a href="/album/{{ album.key.integer_id() }}/add-photo">Add Photo</a>
    </div>
    <div>
        <h4>Sorting Options</h4>
        <button id="shuffle">Shuffle</button>
        <button id="dateSort">Sort by Date</button>
        <button id="nameSort">Sort by Name</button>
        <button id="authorSort">Sort by Author</button>
        <label for="sortAscending">Sort Ascending<input type="checkbox" id="sortAscending" value="true"/></label>
    </div>

    <!-- Displays the name of the photo the mouse is currently over !-->
    <div id="photo_name"></div>

    <div id="container">
        {% for photo in photos %}
            <div class="item"
                 onmouseover="update_current_photo(this)">
                <a href="/album/{{ album.key.integer_id() }}/photo/{{ photo.key.integer_id() }}/view">
                    <img class="image"
                     height="300"
                     src="/album/{{ album.key.integer_id() }}/photo/{{ photo.key.integer_id() }}">
                </a>
                <input class="name"
                       type="hidden" value="{{ photo.name }}"/>
                <input class="date"
                       type="hidden" value="{{ photo.date_created }}"/>
                <input class="user"
                       type="hidden" value="{{ photo.author.get().email }}"/>
            </div>
        {% endfor %}
    </div>

    <div id="comments">
        <h3>Comments left by Users</h3>

        {% for comment in comments %}
            <div class="comment">
                <b>[{{ comment.date_created }}] {{ comment.author.get().email }} said: </b>
                <blockquote>{{ comment.text }}</blockquote>
            </div>
        {% endfor %}

        <h3>Leave a Comment:</h3>
        <form method="post" action="/album/{{ album.key.integer_id() }}/add-comment">
            <textarea id="comment_text" name="comment_text"></textarea>

            <br>
            <input type="submit" value="Add Comment"/>
        </form>
    </div>

    <script type="text/javascript">
        function update_current_photo(elem) {
            var name = "<b>" + $(elem).find('.name').val() + "</b>";
            var author = "<b>" + $(elem).find('.user').val() + "</b>";
            var date = "<b>" + $(elem).find('.date').val() + "</b>"

            $('#photo_name').html(name + ' by ' + author + ' on ' + date);
        }

        var $container = $('#container');

        $container.imagesLoaded( function(){
          $container.isotope({
              // options
              itemSelector : '.item',
              layoutMode : 'fitRows'
            });
        });

        $container.isotope({
          getSortData : {
            name : function ( $elem ) {
              return $elem.find('.name').val();
            },
            date : function ( $elem ) {
              return Date.parse($elem.find('.date').val());
            },
            author: function ( $elem ) {
              return $elem.find('.user').val();
            }
          }
        });

        $('#shuffle').click(function() {
            $container.isotope('shuffle');
        });

        $('#dateSort').click(function() {
            $container.isotope({
                sortBy: 'date',
                sortAscending: $('#sortAscending').is(':checked')
            });
        });

        $('#nameSort').click(function() {
            $container.isotope({
                sortBy: 'name',
                sortAscending: $('#sortAscending').is(':checked')
            });
        });

        $('#authorSort').click(function() {
            $container.isotope({
                sortBy: 'author',
                sortAscending: $('#sortAscending').is(':checked')
            })
        });

    </script>
{% endblock %}