{% extends "base.html" %}

{% block content %}
 <div class="container-fluid" style="padding: 10px">
    <div class="row-fluid">
        <div class="span8">
            <div style="float: right; margin: auto; width: 800px">
                <div class="form-inline" style="padding: 10px; width: auto">
                    <a href="/album/{{ album.key.integer_id() }}/view" class="btn btn-primary">
                        <span class="glyphicon glyphicon-circle-arrow-left"></span>
                        Back to Album
                    </a>
                    {% if user.key == photo.author %}
                        <a class="btn btn-success" href="/album/{{ album.key.integer_id() }}/photo/{{ photo.key.integer_id() }}/edit">
                            <span class="glyphicon glyphicon-edit"></span>
                            Edit Photo
                        </a>
                        <button class="btn btn-danger"
                                data-toggle="modal"
                                data-target="#myModal">
                            <span class="glyphicon glyphicon-trash"></span>
                            Delete Photo
                        </button>
                    {% endif %}
                </div>
                <div style="text-align: center">
                    <img id="photo" style="width: auto; height: auto; max-width: 100%; align-self: center" src="{{ image_url }}" />
                </div>
                <div class="form-inline" style="padding: 10px; margin: auto; width: auto; text-align: center;">
                    <label>
                        <span class="glyphicon glyphicon-link"></span>
                        Static Url
                    </label>
                    <input id="staticUrl"
                           class="form-control"
                           type="text"
                           style="width: 500px"
                           readonly="true"
                           value="{{ image_url }}"/>
                    <button class="btn btn-success"
                            data-toggle="modal"
                            data-target="#customiseModal">
                        <span class="glyphicon glyphicon-wrench"></span>
                        Customise
                    </button>
                </div>
            </div>
        </div>
        <div class="span4" style="padding: 10px">
            <div>
                <b>{{ photo.name }}</b> by <b>{{ photo.author.get().email }}</b> on <b>{{ photo.date_created }}</b>
            </div>
            <div id="comments" class="container">
                    <label>Comments left by Users</label>

                    {% for comment in comments %}
                        <div class="comment">
                            <blockquote>
                                {{ comment.text }}
                                <small>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <cite title="Source Title">{{ comment.author.get().email }}</cite>
                                </small>
                            </blockquote>
                        </div>
                    {% endfor %}
                </div>

                <form method="post" action="/album/{{ album.key.integer_id() }}/photo/{{ photo.key.integer_id() }}/add-comment">
                    <label>
                        <span class="glyphicon glyphicon-comment"></span>
                        Leave a Comment
                    </label>
                    <textarea class="form-control" id="comment_text" name="comment_text"></textarea>

                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-default">Clear</button>
                </form>
        </div>
    </div>

    <div class="modal fade" id="customiseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Customise Static Url</h4>
          </div>
          <div class="modal-body">
            <p>Photo Nebula allows you to edit your Images properties before they are downloaded.</p>
            <table style="width: 90%; margin: auto;">
                <tr>
                    <td>
                        <div class="form-group">
                            <label>Width</label>
                            <input id="width_value" class="form-control" placeholder="Width in Pixels" style="width:200px"/>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>Height</label>
                            <input id="height_value" class="form-control" placeholder="Height in Pixels" style="width:200px"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="input-group">
                              <div class="input-group-btn">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Rotate<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                  <li><a href="#" onclick="$('#rotate_value').val('90')">90&deg;</a></li>
                                  <li><a href="#" onclick="$('#rotate_value').val('180')">180&deg;</a></li>
                                  <li><a href="#" onclick="$('#rotate_value').val('270')">270&deg;</a></li>
                                </ul>
                              </div><!-- /btn-group -->
                              <input id="rotate_value" type="text" class="form-control" readonly="true" style="width: 80px">
                            </div><!-- /input-group -->
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>Improve with Filter</label>
                            <input id="filter_value" type="checkbox"/>
                        </div>
                    </td>
                </tr>
            </table>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="update_static_url()" data-dismiss="modal">Confirm Changes</button>
              <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Confirm Photo Deletion</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you would like to delete this photo?</p>
            <blockquote>
                <b>{{ photo.name }}</b>
            </blockquote>
            <p>You will <b>not</b> be able to undo your changes</p>
          </div>
          <form method="post"
                action="/album/{{ album.key.integer_id() }}/photo/{{ photo.key.integer_id() }}/delete"
                class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No, Don't Delete</button>
            <button type="submit" class="btn btn-danger">Yes, Delete!</button>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>


<script type="text/javascript">
    $('#staticUrl').focus(function() {
        this.select();
    });

    function update_static_url() {
        var height = $('#height_value').val();
        var width = $('#width_value').val();
        var rotate = $('#rotate_value').val();
        var filter = $('#filter_value').is(':checked');

        var first = true;
        var image_url = '{{ image_url }}';

        if(height != "" && !isNaN(height)) {
            image_url += (first)? '?' : '&';
            image_url += 'height=' + height;
            first = false;
        }

        if(width != "" && !isNaN(width)) {
            image_url += (first)? '?' : '&';
            image_url += 'width=' + width;
            first = false;
        }

        if(rotate != "" && !isNaN(rotate)) {
            image_url += (first)? '?' : '&';
            image_url += 'rotate=' + rotate;
            first = false;
        }

        if(filter) {
            image_url += (first)? '?' : '&';
            image_url += 'lucky=1';
            first = false;
        }

        $('#staticUrl').val(image_url);
    }
</script>
{% endblock %}